{extend name='public/base2' /}
{block name='content'}
<div class="main-body">
    <style>
.cover-pic {
    display: block;
    width: 8rem;
    height: 5rem;
    background-size: cover;
    background-position: center;
}
</style>
<div class="panel mb-3">
<div class="panel-header">
    <span>专题分类</span>
    <ul class="nav nav-right">
        <li class="nav-item">
            <a class="nav-link" href="/addons/zjhj_mall/core/web/index.php?r=mch%2Ftopic-type%2Fedit">添加专题分类</a>
        </li>
    </ul>
</div>
<div class="panel-body">
    <table class="table table-bordered bg-white">
        <thead>
        <tr>
            <th>ID</th>
            <th>名称</th>
            <th>排序</th>
            <th>操作</th>
        </tr>
        </thead>
        <col style="width: 20%">
        <col style="width: 40%">
        <col style="width: 20%">
        <col style="width: 20%">
        <tbody>
                    </tbody>
    </table>
    <div class="text-center">
                    <div class="text-muted">0条数据</div>
    </div>
</div>
</div>

<script>
$(document).on("click", ".delete-btn", function () {
    var url = $(this).attr("href");
    $.confirm({
        content: "确认删除？",
        confirm: function () {
            $.loading();
            $.ajax({
                url: url,
                dataType: "json",
                success: function (res) {
                    location.reload();
                }
            });
        }
    });
    return false;
});
</script>    </div>
</div>
{/block}
