<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>小程序 - 管理 - 木子科技微信管理平台</title>
	<meta name="keywords" content="公众号管理平台,微活动,微社区,微会员卡,微信优惠券,微众筹,微信Wifi,微商城,微信签到,微信场景,微信收银,微砍价,微信游戏,微信积分,微分销,微信周边,周边商户,微酒店,微汽车,微服务" />
	<meta name="description" content="木子科技微信管理平台，简称木子微信，是一款微信公众平台管理系统，是国内最完善移动网站及移动互联网技术解决方案。" />
	<link rel="shortcut icon" href="http://wxoss.gxmuzi.com/images/global/ZGpj4EG9jhfUH9R0gsEwHJGYhhsULu.png" />
	<link href="__STATIC__/Css/bootstrap.min.css" rel="stylesheet">
	<link href="__STATIC__/Css/common.css" rel="stylesheet">
	<script type="text/javascript">
	if(navigator.appName == 'Microsoft Internet Explorer'){
		if(navigator.userAgent.indexOf("MSIE 5.0")>0 || navigator.userAgent.indexOf("MSIE 6.0")>0 || navigator.userAgent.indexOf("MSIE 7.0")>0) {
			alert('您使用的 IE 浏览器版本过低, 推荐使用 Chrome 浏览器或 IE8 及以上版本浏览器.');
		}
	}
	window.sysinfo = {
		'uniacid': '323',		'acid': '323',				'uid': '300',		'isfounder': 0,
		'family': 'x',
		'siteroot': 'https://wx.gxmuzi.com/',
		'siteurl': 'https://wx.gxmuzi.com/web/index.php?c=wxapp&a=version&do=home&version_id=28',
		'attachurl': 'http://wxoss.gxmuzi.com/',
		'attachurl_local': 'https://wx.gxmuzi.com/attachment/',
		'attachurl_remote': 'http://wxoss.gxmuzi.com/',
		'module' : {'url' : '', 'name' : ''},
		'cookie' : {'pre': 'a936_'},
		'account' : {"acid":"323","uniacid":"323","token":"NWf3eH7o0nGWWHhosbH7Osnb6WGCH7Sc","encodingaeskey":"fq4jUjhVjujH8E0U4q8Ji8DHJUJ0A9VJC9zJi0y0z4J","level":"1","account":"","original":"gh_98612a7f254e","key":"wx9c39ecd8d440070e","secret":"cc3b1f01c7c6e6942efe096758404590","name":"HEY\u6298\u6263\u5546\u5bb6","appdomain":"https:\/\/wx.gxmuzi.com\/app\/index.php","encrypt_key":"wx9c39ecd8d440070e","type":"4","isconnect":"1","isdeleted":"0","endtime":"0","uid":"1","starttime":"0","groups":[],"setting":[],"grouplevel":null,"logo":"http:\/\/wxoss.gxmuzi.com\/headimg_323.jpg?time=1529161722","qrcode":"http:\/\/wxoss.gxmuzi.com\/qrcode_323.jpg?time=1529161722","switchurl":".\/index.php?c=account&a=display&do=switch&uniacid=323","sms":0,"setmeal":{"uid":-1,"username":"\u521b\u59cb\u4eba","timelimit":"\u672a\u8bbe\u7f6e","groupid":"-1","groupname":"\u6240\u6709\u670d\u52a1"}},
		'server' : {'php' : '5.6.30'},
	};
	</script>
	<script>var require = { urlArgs: 'v=20170426' };</script>
	<script type="text/javascript" src="__STATIC__/Scripts/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="__STATIC__/Scripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="__STATIC__/Scripts/util.js"></script>
	<script type="text/javascript" src="__STATIC__/Scripts/common.min.js"></script>
	<script type="text/javascript" src="__STATIC__/Scripts/require.js"></script>
</head>
<body>
	<div class="loader" style="display:none">
		<div class="la-ball-clip-rotate">
			<div></div>
		</div>
	</div><div data-skin="default" class="skin-default ">
<div class="head mixMenu-head">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container ">
			<div class="navbar-header">
				<a class="navbar-brand" href="https://wx.gxmuzi.com/">
					<img src="__STATIC__/Picture/rxmq3nnf8fdg2qvuxpuxsxuumdbxux.png" class="pull-left" width="110px" height="35px">
					<span class="version hidden">1.7.3</span>
				</a>
			</div>
						<div class="collapse navbar-collapse">
				<style>
					.nav > li:hover .dropdown-menu {display: block;}
				</style>
																																																																																																																																				<ul class="nav navbar-nav  navbar-left">
										<li >
					<a href="./index.php?c=account&a=display&do=platform&" >平台</a>
					</li>
										<li >
					<a href="./index.php?c=module&a=display&" >应用</a>
					</li>
										<li >
					<a href="./index.php?c=home&a=welcome&do=system&" >系统</a>
					</li>

					<ul class="other nav navbar-nav navbar-left">
											</ul>
				</ul>
				<ul class="nav navbar-nav navbar-left hidden">
															<li ><a href="./index.php?c=account&a=display&do=platform&" >平台</a></li>
										<li ><a href="./index.php?c=home&a=welcome&do=platform&" >公众号</a></li>
										<li  class="active"><a href="./index.php?c=wxapp&a=display&do=home&" >小程序</a></li>
										<li ><a href="./index.php?c=module&a=display&" >应用</a></li>
										<li ><a href="./index.php?c=home&a=welcome&do=system&" >系统</a></li>
									</ul>

				<ul class="nav navbar-nav navbar-right ">


					<li class="dropdown msg header-notice">
    <a href="javascript:;" class="dropdown-toogle" data-toggle="dropdown"><span class="wi wi-bell"><span class="badge"></span></span></a>
    <div class="dropdown-menu">
        <div class="clearfix top">消息<a href="./index.php?c=message&a=notice" class="pull-right">查看更多</a></div>
    </div>
</li>					<li class="dropdown">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="wi wi-user color-gray"></i>HEY折扣 <span class="caret"></span></a>
						<ul class="dropdown-menu color-gray" role="menu">
							<li>
								<a href="./index.php?c=user&a=profile&" target="_blank"><i class="wi wi-account color-gray"></i> 我的账号</a>
							</li>
							<li class="divider"></li>


							<li><a href="./index.php?c=system&a=updatecache&" target="_blank"><i class="wi wi-cache color-gray"></i> 更新缓存</a></li>
							<li class="divider"></li>

							<li>
								<a href="http://www.muzi.com"><i class="fa fa-sign-out color-gray"></i> 退出系统</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
					</div>
	</nav>
</div>

<div class="main">
<div class="container">
	<a href="javascript:;" class="js-big-main button-to-big color-gray" title="加宽">宽屏</a>
		<div class="panel panel-content main-panel-content ">
		<div class="content-head panel-heading main-panel-heading">
							<img src="__STATIC__/Picture/headimg_323.jpg" class="head-logo">
<span class="wxapp-name">HEY折扣商家</span>
<span class="wxapp-version">1.2</span>
<div class="pull-right">
	<a href="./index.php?c=wxapp&a=version&do=display&uniacid=323" class="color-default"><i class="wi wi-cut"></i>切换版本</a>
		<a href="./index.php?c=account&a=display&type=all" class="color-default"><i class="wi wi-small-routine"></i>切换平台</a>
</div>					</div>
	<div class="panel-body clearfix main-panel-body ">
		<div class="left-menu">
						<div class="left-menu-content">




								<div class="panel panel-menu">
										<div class="panel-heading">
						<span class="no-collapse">小程序入口<i class="wi wi-appsetting pull-right setting"></i></span>
					</div>
										<ul class="list-group">
																																							<li class="list-group-item ">
										<a href="/mall/index/index/index" class="text-over" >
																																	<i class="wi wi-data-synchro"></i>
																															入口页面										</a>
									</li>
																																			</ul>
				</div>




								<div class="panel panel-menu">
										<div class="panel-heading">
						<span class="no-collapse">应用<i class="wi wi-appsetting pull-right setting"></i></span>
					</div>
										<ul class="list-group">
																																							<li class="list-group-item ">
										<a href="/mall.php/index/index/index" class="text-over" >
																				<img src='__STATIC__/Picture/icon-custom.jpg'> 小程序商城高级版										</a>
									</li>
																																			</ul>
				</div>




								<div class="panel panel-menu">
										<div class="panel-heading">
						<span class="no-collapse">配置<i class="wi wi-appsetting pull-right setting"></i></span>
					</div>
										<ul class="list-group">
																																							<li class="list-group-item ">
										<a href="./index.php?c=wxapp&a=module-link-uniacid&version_id=28" class="text-over" >
																																	<i class="wi wi-data-synchro"></i>
																															数据同步										</a>
									</li>
																																																															<li class="list-group-item ">
										<a href="./index.php?c=wxapp&a=payment&version_id=28" class="text-over" >
																																	<i class="wi wi-appsetting"></i>
																															支付参数										</a>
									</li>
																																																																																													</ul>
				</div>
											</div>
					</div>
		<div class="right-content">
	<div class="we7-page-title">首页</div>
<div class="welcome-container" id="js-wxapp-home-welcome" ng-controller="WxappWelcomeCtrl" ng-cloak>
	<div class="panel we7-panel wxapp-target">
		<div class="panel-heading">昨日关键指标</div>
		<div class="panel-body we7-padding-vertical">
			<div class="col-sm-3 text-center">
				<div class="title">打开次数</div>
				<div>
					<span class="today" ng-bind="daily_visittrend.yesterday.session_cnt">100</span>
				</div>
			</div>
			<div class="col-sm-3 text-center">
				<div class="title">访问次数</div>
				<div>
					<span class="today" ng-bind="daily_visittrend.yesterday.visit_pv">2000</span>
				</div>
			</div>
			<div class="col-sm-3 text-center">
				<div class="title">访问人数</div>
				<div>
					<span class="today" ng-bind="daily_visittrend.yesterday.visit_uv">10</span>
				</div>
			</div>
			<div class="col-sm-3 text-center">
				<div class="title">新用户数</div>
				<div>
					<span class="today" ng-bind="daily_visittrend.yesterday.visit_uv_new">101</span>
				</div>
			</div>
		</div>
	</div>
	<div class="panel we7-panel wxapp-procedure">
		<div class="panel-body">
			<div class="procedure-top">
				<a href="http://bbs.we7.cc/forum.php?mod=viewthread&tid=24104&fromuid=56310 " class="btn btn-primary pull-right hidden">马上了解</a>
				<span class="title-lg">小程序</span>
				<span class="title-md">使用流程和开发简述</span>
			</div>
			<div class="procedure-diagram">
				<div class="procedure">
					<div>
						<div class="icon"><span class="wi wi-shopping-cart"></span></div>
						<div>购买小程序应用</div>
						<div class="arrow"><span class="wi wi-step-arrows"></span></div>
					</div>
					<div>
						<div class="icon"><span class="wi wi-small-routine"></span></div>
						<div>新建小程序</div>
						<div><a href="./index.php?c=wxapp&a=post&do=design_method&" class="color-default">去新建></a></div>
						<div class="arrow"><span class="wi wi-step-arrows"></span></div>
					</div>
					<div>
						<div class="icon"><span class="wi wi-setting-wxapp"></span></div>
						<div>小程序设置</div>
						<div class="arrow"><span class="wi wi-step-arrows"></span></div>
					</div>
					<div>
						<div class="icon"><span class="wi wi-scan"></span></div>
						<div>扫码上传</div>
						<div><a href="./index.php?c=wxapp&a=front-download&version_id=28" class="color-default">去上传></a></div>
						<div class="arrow"><span class="wi wi-step-arrows"></span></div>
					</div>
					<div>
						<div class="icon"><span class="wi wi-publish"></span></div>
						<div>填写版本信息</div>
						<div class="arrow"><span class="wi wi-step-arrows"></span></div>
					</div>
					<div>
						<div class="icon"><span class="wi wi-wechat"></span></div>
						<div>到微信提交审核</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel we7-panel">
		<div class="panel-heading">
			公告
			<a href="./index.php?c=article&a=notice-show" target="_blank" class="pull-right color-default">更多</a>
		</div>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="notice in notices" ng-if="notices">
				<a ng-href="{{notice.url}}" class="text-over" target="_blank" ng-bind="notice.title"></a>
				<span class="time pull-right color-gray" ng-bind="notice.createtime"></span>
			</li>
			<li class="list-group-item text-center" ng-if="!notices">
				<span>暂无数据</span>
			</li>
		</ul>
	</div>

</div>
<script>
	angular.module('wxApp').value('config', {
		notices: null,
	});
	angular.bootstrap($('#js-wxapp-home-welcome'), ['wxApp']);
</script>
			</div>
		</div>
	</div>
</div>

</div>
	<div class="container-fluid footer text-center" role="footer">
		<div class="friend-link">
							<br />					</div>
		<div class="copyright"><br /></div>
			</div>
	<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?3a9afbf5e81a468a154cdeb09b689672";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>		</div>

		<script type="text/javascript" src="__STATIC__/Scripts/index.js"></script>

<script>$(function(){$('img').attr('onerror', '').on('error', function(){if (!$(this).data('check-src') && (this.src.indexOf('http://') > -1 || this.src.indexOf('https://') > -1)) {this.src = this.src.indexOf('https://wx.gxmuzi.com/attachment/') == -1 ? this.src.replace('http://wxoss.gxmuzi.com/', 'https://wx.gxmuzi.com/attachment/') : this.src.replace('https://wx.gxmuzi.com/attachment/', 'http://wxoss.gxmuzi.com/');$(this).data('check-src', true);}});});</script></body>
</html>
