{include file='public/head' /}
<body>
	<div class="loader" style="display:none">
		<div class="la-ball-clip-rotate">
			<div></div>
		</div>
	</div>
<div class="home">
	<div class="content clearfix">
		<div id="head">
			<div class="logo">
				<img src="__STATIC__/Picture/rxmq3nnf8fdg2qvuxpuxsxuumdbxux.png" width="220px" height="50px">
			</div>
			<div class="advertisement">
									再小的个体,也有自己的品牌							</div>
			<div class="btns">
				<a href="{:url('user/login')}" class="btn btn-primary btn-lg"><i class="fa fa-user"></i> 立即登录</a>
								<a href="{:url('user/register')}" class="btn btn-primary btn-lg"><i class="fa fa-user-plus"></i> 我要加入</a>
							</div>
		</div>
		<div id="banner" class="carousel slide" data-ride="carousel">
			<div class="carousel-indicators"><i class="fa fa-angle-double-down"></i></div>
			<div class="carousel-inner" role="listbox">
																				<div class="item active"><img src="__STATIC__/Picture/tb1pfg4ifxxxxc6xxxxxxxxxxxx.jpg" alt="" style="width:100%;"></div>
																	<div class="item "><img src="__STATIC__/Picture/tb1sxgyifxxxxc5xpxxxxxxxxxx.jpg" alt="" style="width:100%;"></div>
																	<div class="item "><img src="__STATIC__/Picture/tb1h9xxifxxxxbkxxxxxxxxxxxx.jpg" alt="" style="width:100%;"></div>
																		</div>
		</div>

		<div class="con container">
			<div class="panel panel-default">
				<h4>系统功能介绍</h4>
				<div class="panel-body">
					<div class="row system-info">
						<div class="col-xs-3">
							<div class="icon"><i class="fa fa-tablet"></i></div>
							<h6>微网站、微场景</h6>
						</div>
						<div class="col-xs-3">
							<div class="icon"><i class="fa fa-bullseye"></i></div>
							<h6>微信营销解决方案</h6>
						</div>
						<div class="col-xs-3">
							<div class="icon"><i class="fa fa-life-ring"></i></div>
							<h6>微信账号集中一站管理</h6>
						</div>
						<div class="col-xs-3">
							<div class="icon"><i class="fa fa-sitemap"></i></div>
							<h6>强大的商家运营管理平台</h6>
						</div>
					</div>
				</div>
			</div>
						<div class="panel panel-default">
				<h4>功能模块介绍</h4>
				<div class="panel-body">
					<div class="row module-info">
						<div class="col-xs-2">
							<div class="icon">
								<img src="__STATIC__/Picture/01.png">
							</div>
							<h6>微现场</h6>
						</div>
						<div class="col-xs-2">
							<div class="icon">
								<img src="__STATIC__/Picture/02.png">
							</div>
							<h6>微旅游</h6>
						</div>
						<div class="col-xs-2">
							<div class="icon">
								<img src="__STATIC__/Picture/03.png">
							</div>
							<h6>微外卖</h6>
						</div>
						<div class="col-xs-2">
							<div class="icon">
								<img src="__STATIC__/Picture/04.png">
							</div>
							<h6>微商城</h6>
						</div>
						<div class="col-xs-2">
							<div class="icon">
								<img src="__STATIC__/Picture/05.png">
							</div>
							<h6>微汽车</h6>
						</div>
						<div class="col-xs-2">
							<div class="icon">
								<img src="__STATIC__/Picture/06.png">
							</div>
							<h6>微房产</h6>
						</div>
						<div class="col-xs-2">
							<div class="icon">
								<img src="__STATIC__/Picture/08.png">
							</div>
							<h6>微点菜</h6>
						</div>
						<div class="col-xs-2">
							<div class="icon">
								<img src="__STATIC__/Picture/09.png">
							</div>
							<h6>微喜帖</h6>
						</div>
						<div class="col-xs-2">
							<div class="icon">
								<img src="__STATIC__/Picture/11.png">
							</div>
							<h6>微网站</h6>
						</div>
						<div class="col-xs-2">
							<div class="icon">
								<img src="__STATIC__/Picture/12.png">
							</div>
							<h6>微投票</h6>
						</div>
						<div class="col-xs-2">
							<div class="icon">
								<img src="__STATIC__/Picture/13.png">
							</div>
							<h6>微信自定义菜单</h6>
						</div>
						<div class="col-xs-2">
							<div class="icon">
								<img src="__STATIC__/Picture/14.png">
							</div>
							<h6>微信会员卡</h6>
						</div>
						<div class="col-xs-2">
							<div class="icon">
								<img src="__STATIC__/Picture/15.png">
							</div>
							<h6>微信营销活动</h6>
						</div>
						<div class="col-xs-2">
							<div class="icon">
								<img src="__STATIC__/Picture/17.png">
							</div>
							<h6>微信优惠券活动</h6>
						</div>
						<div class="col-xs-2">
							<div class="icon">
								<img src="__STATIC__/Picture/18.png">
							</div>
							<h6>微信LBS位置回复</h6>
						</div>
						<div class="col-xs-2">
							<div class="icon">
								<img src="__STATIC__/Picture/19.png">
							</div>
							<h6>微相册</h6>
						</div>
						<div class="col-xs-2">
							<div class="icon">
								<img src="__STATIC__/Picture/20.png">
							</div>
							<h6>微订单</h6>
						</div>
						<div class="col-xs-2">
							<div class="icon">
								<img src="__STATIC__/Picture/21.png">
							</div>
							<h6>微统计</h6>
						</div>
					</div>

				</div>
			</div>
			<div class="contact panel panel-default">
				<h4>联系我们</h4>
				<div class="panel-body">
					<div class="map col-xs-5" style="height:150px;">
						<div class="img" style="width:100%; height:150px; border:#ccc solid 1px;" id="baidumap"></div>
					</div>
					<div class="info col-xs-7">
						<p>联系人：闭经理</p>
						<p>Q&nbsp;&nbsp;&nbsp;&nbsp; Q：684454</p>
						<p>手&nbsp;&nbsp;&nbsp;机：17736660665</p>
						<p>公&nbsp;&nbsp;&nbsp;司：柳州市木子科技有限公司</p>
						<p>地&nbsp;&nbsp;&nbsp;址：柳州市阳光100城市广场3号楼11-15室</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="center-block footer" role="footer">
		<div class="text-center">
			<br /> &nbsp; &nbsp; <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?3a9afbf5e81a468a154cdeb09b689672";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>		</div>
		<div class="text-center">
			<br />		</div>
	</div>
</div>

<script>
	var bmap = {
		'option' : {
			'lock' : false,
			'container' : 'baidumap',
			'infoWindow' : {'width' : 250, 'height' : 100, 'title' : ''},
			'point' : {'lng' : '109.43941', 'lat' : '24.32976'}
		},
		'init' : function(option) {
			var $this = this;
			$this.option = $.extend({},$this.option,option);
			$this.option.defaultPoint = new BMap.Point($this.option.point.lng, $this.option.point.lat);
			$this.bgeo = new BMap.Geocoder();
			$this.bmap = new BMap.Map($this.option.container);
			$this.bmap.centerAndZoom($this.option.defaultPoint, 15);
			$this.bmap.enableScrollWheelZoom();
			$this.bmap.enableDragging();
			$this.bmap.enableContinuousZoom();
			$this.bmap.addControl(new BMap.NavigationControl());
			$this.bmap.addControl(new BMap.OverviewMapControl());
			//添加标注
			$this.marker = new BMap.Marker($this.option.defaultPoint);
			$this.marker.enableDragging();
			$this.bmap.addOverlay($this.marker);
			$this.marker.setAnimation(BMAP_ANIMATION_BOUNCE);
		},
		'setMarkerCenter' : function() {
			var $this = this;
			var center = $this.bmap.getCenter();
			$this.marker.setPosition(new BMap.Point(center.lng, center.lat));
			$this.showPointValue();
			$this.showAddress();
		}
	};
	$(function(){
		var option = {};
		option = {'point' : {'lng' : '109.43941', 'lat' : '24.32976'}}
		bmap.init(option);

		//banner
		$('#banner, #banner .item').height($(window).height());
	});
</script>
<script>$(function(){$('img').attr('onerror', '').on('error', function(){if (!$(this).data('check-src') && (this.src.indexOf('http://') > -1 || this.src.indexOf('https://') > -1)) {this.src = this.src.indexOf('https://weixin.gxmuzi.com/attachment/') == -1 ? this.src.replace('http://wxoss.gxmuzi.com/', 'https://weixin.gxmuzi.com/attachment/') : this.src.replace('https://weixin.gxmuzi.com/attachment/', 'http://wxoss.gxmuzi.com/');$(this).data('check-src', true);}});});</script></body>
</html>
