<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>木子科技微信管理平台</title>
	<meta name="keywords" content="公众号管理平台,微活动,微社区,微会员卡,微信优惠券,微众筹,微信Wifi,微商城,微信签到,微信场景,微信收银,微砍价,微信游戏,微信积分,微分销,微信周边,周边商户,微酒店,微汽车,微服务" />
	<meta name="description" content="木子科技微信管理平台，简称木子微信，是一款微信公众平台管理系统，是国内最完善移动网站及移动互联网技术解决方案。" />
	<link rel="shortcut icon" href="http://wxoss.gxmuzi.com/images/global/ZGpj4EG9jhfUH9R0gsEwHJGYhhsULu.png" />
	<script type="text/javascript">
	if(navigator.appName == 'Microsoft Internet Explorer'){
		if(navigator.userAgent.indexOf("MSIE 5.0")>0 || navigator.userAgent.indexOf("MSIE 6.0")>0 || navigator.userAgent.indexOf("MSIE 7.0")>0) {
			alert('您使用的 IE 浏览器版本过低, 推荐使用 Chrome 浏览器或 IE8 及以上版本浏览器.');
		}
	}
	window.sysinfo = {
										'isfounder': 0,
		'family': 'x',
		'siteroot': 'https://wx.gxmuzi.com/',
		'siteurl': 'https://wx.gxmuzi.com/web/index.php?c=user&a=login',
		'attachurl': 'http://wxoss.gxmuzi.com/',
		'attachurl_local': 'https://wx.gxmuzi.com/attachment/',
		'attachurl_remote': 'http://wxoss.gxmuzi.com/',
		'module' : {'url' : '', 'name' : ''},
		'cookie' : {'pre': 'a936_'},
		'account' : null,
		'server' : {'php' : '5.6.30'},
	};
	</script>
  <link href="__STATIC__/home/Css/bootstrap.min.css" rel="stylesheet">
  <link href="__STATIC__/home/Css/common.css" rel="stylesheet">
  <link rel="stylesheet" href="__STATIC__/home/Css/welcome.css">
  <script>var require = { urlArgs: 'v=20170426' };</script>
  <script type="text/javascript" src="__STATIC__/home/Scripts/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="__STATIC__/home/Scripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="__STATIC__/home/Scripts/util.js"></script>
  <script type="text/javascript" src="__STATIC__/home/Scripts/common.min.js"></script>
  <script type="text/javascript" src="__STATIC__/home/Scripts/require.js"></script>
  <script type="text/javascript" src="__STATIC__/home/Scripts/d0fdb17976bf4dfaa2bb780ef1419420.js"></script>
</head>
