<meta charset="UTF-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
<title>{$title}</title>
<link href="__STATIC__/mall/Css/font_353057_xjg7zdpmf54mfgvi.css" rel="stylesheet">
<link href="__STATIC__/mall/Css/bootstrap.min.css" rel="stylesheet">
<link href="__STATIC__/mall/Css/common.css" rel="stylesheet">
<link href="__STATIC__/mall/Css/common.v2.css" rel="stylesheet">
<link href="__STATIC__/mall/Css/jquery.datetimepicker.min.css" rel="stylesheet">
<link href="__STATIC__/mall/Css/flex.css" rel="stylesheet">

<script>var _csrf = "mRnzuiKgnxEkmevFRg0TkRDefhwFxEIWmdfd2BtcRsQlFK0CWJurHMhBqOYeRYeRla-XyxZe1PNDZSJsRHaWAA==";</script>
<script>var _upload_url = "/addons/zjhj_mall/core/web/index.php?r=upload%2Ffile";</script>
<script>var _upload_file_list_url = "/addons/zjhj_mall/core/web/index.php?r=mch%2Fstore%2Fupload-file-list";</script>
<script>var _district_data_url = "/addons/zjhj_mall/core/web/index.php?r=api%2Fdefault%2Fdistrict&store_id=9";</script>
<script>var CLODOP_URL = "/addons/zjhj_mall/core/web/statics/mch/js/Lodop.js"</script>
<script src="__STATIC__/mall/Scripts/jquery.min.js"></script>
<script src="__STATIC__/mall/Scripts/vue.js"></script>
<script src="__STATIC__/mall/Scripts/tether.min.js"></script>
<script src="__STATIC__/mall/Scripts/bootstrap.min.js"></script>
<script src="__STATIC__/mall/Scripts/plupload.full.min.js"></script>
<script src="__STATIC__/mall/Scripts/jquery.datetimepicker.full.min.js"></script>
<script src="__STATIC__/mall/Scripts/common.js"></script>
<script src="__STATIC__/mall/Scripts/common.v2.js"></script>
<script src="__STATIC__/mall/Scripts/clipboard.js"></script>
<script src="__STATIC__/mall/Scripts/layer.js"></script>
<script src="__STATIC__/mall/Scripts/laydate.js"></script>
