{extend name='public/base2' /}
{block name='content'}
<div class="main-body">

<div class="alert alert-info rounded-0">
<div>注：设置了开放时间，小程序端才有相关秒杀时间点出现</div>
<div>注：秒杀入口可以在
    <a target="_blank" href="/addons/zjhj_mall/core/web/index.php?r=mch%2Fstore%2Fhome-nav">导航图标</a>、
    <a target="_blank"
       href="/addons/zjhj_mall/core/web/index.php?r=mch%2Fstore%2Fhome-block">图片魔方</a>、
    <a target="_blank" href="/addons/zjhj_mall/core/web/index.php?r=mch%2Fstore%2Fslide">轮播图</a>设置。
</div>
</div>
<div class="panel mb-3">
<div class="panel-header">
    <span>秒杀</span>
</div>
<div class="panel-body">
    <form class="auto-form" method="post" autocomplete="off">
        <div class="form-group row">
            <div class="form-group-label col-sm-2 text-right">
                <label class="col-form-label">开放时间</label>
            </div>
            <div class="col-sm-6">
                                                            <label class="custom-control custom-checkbox">
                        <input name="open_time[]"                                   value="0"
                               type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">00                                :00~00:59</span>
                    </label>
                                        <label class="custom-control custom-checkbox">
                        <input name="open_time[]"                                   value="1"
                               type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">01                                :00~01:59</span>
                    </label>
                                        <label class="custom-control custom-checkbox">
                        <input name="open_time[]"                                   value="2"
                               type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">02                                :00~02:59</span>
                    </label>
                                        <label class="custom-control custom-checkbox">
                        <input name="open_time[]"                                   value="3"
                               type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">03                                :00~03:59</span>
                    </label>
                                        <label class="custom-control custom-checkbox">
                        <input name="open_time[]"                                   value="4"
                               type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">04                                :00~04:59</span>
                    </label>
                                        <label class="custom-control custom-checkbox">
                        <input name="open_time[]"                                   value="5"
                               type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">05                                :00~05:59</span>
                    </label>
                                        <label class="custom-control custom-checkbox">
                        <input name="open_time[]"                                   value="6"
                               type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">06                                :00~06:59</span>
                    </label>
                                        <label class="custom-control custom-checkbox">
                        <input name="open_time[]"                                   value="7"
                               type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">07                                :00~07:59</span>
                    </label>
                                        <label class="custom-control custom-checkbox">
                        <input name="open_time[]"                                   value="8"
                               type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">08                                :00~08:59</span>
                    </label>
                                        <label class="custom-control custom-checkbox">
                        <input name="open_time[]"                                   value="9"
                               type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">09                                :00~09:59</span>
                    </label>
                                        <label class="custom-control custom-checkbox">
                        <input name="open_time[]"                                   value="10"
                               type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">10                                :00~10:59</span>
                    </label>
                                        <label class="custom-control custom-checkbox">
                        <input name="open_time[]"                                   value="11"
                               type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">11                                :00~11:59</span>
                    </label>
                                        <label class="custom-control custom-checkbox">
                        <input name="open_time[]"                                   value="12"
                               type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">12                                :00~12:59</span>
                    </label>
                                        <label class="custom-control custom-checkbox">
                        <input name="open_time[]"                                   value="13"
                               type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">13                                :00~13:59</span>
                    </label>
                                        <label class="custom-control custom-checkbox">
                        <input name="open_time[]"                                   value="14"
                               type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">14                                :00~14:59</span>
                    </label>
                                        <label class="custom-control custom-checkbox">
                        <input name="open_time[]"                                   value="15"
                               type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">15                                :00~15:59</span>
                    </label>
                                        <label class="custom-control custom-checkbox">
                        <input name="open_time[]"                                   value="16"
                               type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">16                                :00~16:59</span>
                    </label>
                                        <label class="custom-control custom-checkbox">
                        <input name="open_time[]"                                   value="17"
                               type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">17                                :00~17:59</span>
                    </label>
                                        <label class="custom-control custom-checkbox">
                        <input name="open_time[]"                                   value="18"
                               type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">18                                :00~18:59</span>
                    </label>
                                        <label class="custom-control custom-checkbox">
                        <input name="open_time[]"                                   value="19"
                               type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">19                                :00~19:59</span>
                    </label>
                                        <label class="custom-control custom-checkbox">
                        <input name="open_time[]"                                   value="20"
                               type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">20                                :00~20:59</span>
                    </label>
                                        <label class="custom-control custom-checkbox">
                        <input name="open_time[]"                                   value="21"
                               type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">21                                :00~21:59</span>
                    </label>
                                        <label class="custom-control custom-checkbox">
                        <input name="open_time[]"                                   value="22"
                               type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">22                                :00~22:59</span>
                    </label>
                                        <label class="custom-control custom-checkbox">
                        <input name="open_time[]"                                   value="23"
                               type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">23                                :00~23:59</span>
                    </label>
                                </div>
        </div>
        <div class="form-group row">
            <div class="form-group-label col-sm-2 text-right">
            </div>
            <div class="col-sm-6">
                <a class="btn btn-primary auto-form-btn" href="javascript:">保存</a>
            </div>
        </div>
    </form>
</div>
</div>
</div>
</div>

{/block}
