{extend name='index/base' /}
{block name='content'}
<div class="right-content">
    <style>
        .div_none{ display: none; } .link_dis{ display: none; }
    </style>
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="./index.php?c=site&a=entry&op=piclist&do=lunbo&m=xfydm_wuzhe">
                管理轮播图
            </a>
        </li>
        <li>
            <a href="./index.php?c=site&a=entry&op=addpic&do=lunbo&m=xfydm_wuzhe">
                添加轮播图
            </a>
        </li>
    </ul>
    <div class="main">
        <div class="category">
            <div class="panel panel-default">
                <div class="panel-body table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th style="text-align: center;width:180px;">
                                    图片
                                </th>
                                <th style="text-align: center;width:150px;">
                                    跳转地址
                                </th>
                                <th style="text-align: center;width:150px;">
                                    优先级
                                </th>
                                <th style="text-align: center;width: 160px">
                                    添加时间
                                </th>
                                <th style="text-align: center;width: 160px">
                                    修改时间
                                </th>
                                <th style="text-align: center;width: 160px">
                                    操作
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="text-align:center;">
                                <td>
                                    <div class="type-parent">
                                        <img src="__STATIC__/Picture/fylyrebafiy1s8zb9i0rdflbsa386f.png" alt="" class="img"
                                        width="150px">
                                    </div>
                                </td>
                                <td>
                                    <div class="type-parent" style=''>
                                        积分商城
                                    </div>
                                </td>
                                <td>
                                    <div class="type-parent" style="">
                                        3
                                    </div>
                                </td>
                                <td>
                                    <div class="type-parent" style="">
                                        2018-06-05 13:34:17
                                    </div>
                                </td>
                                <td>
                                    <div class="type-parent" style="">
                                        2018-06-12 10:34:23
                                    </div>
                                </td>
                                <td style="">
                                    <a href="./index.php?c=site&a=entry&op=mod&id=44&do=lunbo&m=xfydm_wuzhe">
                                        <button class="btn btn-warning">
                                            <span class="glyphicon glyphicon-cog">
                                            </span>
                                            修改
                                        </button>
                                    </a>
                                    <a href="./index.php?c=site&a=entry&op=del&id=44&do=lunbo&m=xfydm_wuzhe">
                                        <button class="btn btn-danger">
                                            <span class="glyphicon glyphicon-trash">
                                            </span>
                                            删除
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            <tr style="text-align:center;">
                                <td>
                                    <div class="type-parent">
                                        <img src="__STATIC__/Picture/voc8vozrra8ozi0joezaooe3o37qq6.jpg" alt="" class="img"
                                        width="150px">
                                    </div>
                                </td>
                                <td>
                                    <div class="type-parent" style=''>
                                        五折卡跳转
                                    </div>
                                </td>
                                <td>
                                    <div class="type-parent" style="">
                                        4
                                    </div>
                                </td>
                                <td>
                                    <div class="type-parent" style="">
                                        2018-05-30 13:39:24
                                    </div>
                                </td>
                                <td>
                                    <div class="type-parent" style="">
                                        2018-05-30 16:31:33
                                    </div>
                                </td>
                                <td style="">
                                    <a href="./index.php?c=site&a=entry&op=mod&id=41&do=lunbo&m=xfydm_wuzhe">
                                        <button class="btn btn-warning">
                                            <span class="glyphicon glyphicon-cog">
                                            </span>
                                            修改
                                        </button>
                                    </a>
                                    <a href="./index.php?c=site&a=entry&op=del&id=41&do=lunbo&m=xfydm_wuzhe">
                                        <button class="btn btn-danger">
                                            <span class="glyphicon glyphicon-trash">
                                            </span>
                                            删除
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            <tr style="text-align:center;">
                                <td>
                                    <div class="type-parent">
                                        <img src="__STATIC__/Picture/pgsusku5euznzskiqk5usssceugqku.jpg" alt="" class="img"
                                        width="150px">
                                    </div>
                                </td>
                                <td>
                                    <div class="type-parent" style=''>
                                        五折卡跳转
                                    </div>
                                </td>
                                <td>
                                    <div class="type-parent" style="">
                                        1
                                    </div>
                                </td>
                                <td>
                                    <div class="type-parent" style="">
                                        2018-05-25 14:13:54
                                    </div>
                                </td>
                                <td>
                                    <div class="type-parent" style="">
                                        2018-05-31 11:00:12
                                    </div>
                                </td>
                                <td style="">
                                    <a href="./index.php?c=site&a=entry&op=mod&id=39&do=lunbo&m=xfydm_wuzhe">
                                        <button class="btn btn-warning">
                                            <span class="glyphicon glyphicon-cog">
                                            </span>
                                            修改
                                        </button>
                                    </a>
                                    <a href="./index.php?c=site&a=entry&op=del&id=39&do=lunbo&m=xfydm_wuzhe">
                                        <button class="btn btn-danger">
                                            <span class="glyphicon glyphicon-trash">
                                            </span>
                                            删除
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function search() {
            var key = $(".key").val();
            var type = $('input[name="type"]:checked').val();
            if (type == null || type == "") {
                alert("请先选择链接跳转类型");
            } else {
                $.post("./index.php?c=site&a=entry&do=lunbo_sea&m=xfydm_wuzhe", {
                    name: key,
                    type: type
                },
                function(res) {
                    // alert(res.data.id)
                    // console.log(res.data)
                    $(".sea_success").html("搜索成功，已自动为您填写跳转ID");
                    $(".link_id").val(res.data.id);
                },
                'json');
            }
        }
    </script>
</div>
{/block}
